@import "shared";

.yc-course-tree {
  margin-top: 24px;

  ul.modules {
    padding: 16px;
    margin: 0;
    background-color: #4c4c54;
    color: #dadae2;
    & > li {
      list-style: none;
      padding: 0;
    }
    a.module {
      display: block;
      color: white;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      border: none;
      padding: 8px 0;
      //padding-left: 10px;
    }
  }

  ul.lessons {
    padding: 0;
  }
  @include menu_entry;
}

