@import "../mixins";
@import "ycthemelib/responsive";

#yc-root {
  .media_block, .yc-media-block {
    &.video {
      @include panel_style;
    }

    .transcript {
        @include panel_style;
        //border: 1px solid rgba(0, 0, 0, 0.1);
        p {
          opacity: 0.8;
          &:first-of-type {
            margin-top: 0;
          }
        }
      }
  }
}

.yc-scorm-launch {
  display: inline-block;
  padding: 4px;
}

.yc-scorm-player {
  @include respond_to(tablet_landscape) {
    padding: 0 32px 32px;
  }
  .yc-scorm-exit {
    align-self: flex-start;
    display: inline-block;
    padding: 4px;
    margin: 8px 0;
  }
}
