@import "ycthemelib/responsive";
@import "../constants";
@import "../mixins";

.course_list, .product_list {
  text-align: left;
  margin: 32px 0;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: transparent;
  li {
    max-width: 304px;
    list-style: none;
    background-color: rgba(0,0,0,0.02);
    margin: 0 16px 32px 0;
    text-align: center;
    vertical-align: top;
    position: relative;
    @include panel_style;
    &:hover {
      opacity: 0.8;
    }
  }
  a.course, a.product {
    font-size: 18px;
    line-height: 36px;
    border: none;
    display: block;
    overflow: hidden;
    &.free:not(.student):before {
      content: "Free";
      font-size: 14px;
      background-color: #006600;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 2px;
      margin: 0;
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 34px;
      line-height: 18px;
      width: 48px;
    }
    /*&.bundle:before {
      content: "Bundle";
      font-size: 14px;
      background-color: blue;
      border: 1px solid #ffffff;
      border-radius: 2px;
      margin: 0;
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 34px;
      line-height: 18px;
      width: 64px;
    }*/
  }
  img {
    width: 220px;
    max-width: 100%;
    border-radius: 4px;
    display: block;
    @include respond_to(tablet_portrait) {
      width: 300px;
    }
  }
  /*a.bundle {
    overflow: visible;
    img {
      border: 1px solid #444444;
      box-shadow: white 5px 5px 0;
    }
  }*/
}

.course-bundle-page ul.course_list, .product-bundle-page ul.product_list {
  background-color: transparent;
  border: none;
}
