@import "ycthemelib/images/mixins";

@mixin panel_bg_shadow {
  background: rgba(0, 0, 0, 0.059);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin menu_entry {
  li.yc-menu-entry {
    list-style: none;
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 8px 0;

    border-bottom: 1px solid rgba(0,0,0,0.2);

    &.lesson {
      background: #32323a yc-image-url('lesson_icon.png') no-repeat 8px center;
    }

    &.read {
      background: #32323a yc-image-url('lesson_green_icon.png') no-repeat 8px center;
    }

    &.unpublished {
      background: #32323a yc-image-url('lesson_warn_icon.png') no-repeat 8px center;
    }

    &.locked {
      background-image: yc-image-url('lock.png');
      a {
        padding-left: 42px;
      }
    }

    &.selected {
      background-color: #0999d6;
      a {
        color: #000;
      }
    }

    // hover should be styled after the .read & .locked so that it gets applied
    &:hover {
      opacity: 0.8;
    }

    a {
      color: #fefefe;
      font-size: 18px;
      flex: 1 1 auto;
      line-height: 28px;

      display: inline-block;
      padding: 0 32px 0 32px;
      border: none;

      background: yc-image-url('side_arrow.png') no-repeat right 16px top 50%;
    }
  }
}

