{% addClasses "has-banner" %}
{% addClasses theme_config.class_banner_bg_scaling %}
{% addClasses theme_config.class_banner_text_pos %}
<div id="sales_banner"
        style="background-image: {{ theme_config.banner_background_image }};">
    <div class="wrap">
        {% sales_page_visual onlyIf=theme_config.banner_show_visual %}

        {% include "-std-banner-text" notIf=theme_config.banner_has_custom_text %}
        {% theme_text "banner_text" class="banner_text custom" onlyIf=theme_config.banner_has_custom_text %}
    </div>
</div>
