{% addClasses "has-banner" %}
{% addThemeDataAttributes "banner_background_scaling" "banner_text_position" %}

<div id="sales_banner"
        style="background-image: {{ theme_config.banner_background_image }};">
    <div class="wrap">
        {% sales_page_visual onlyIf=theme_config.banner_show_visual %}

        {% include "-std-banner-text" notIf=theme_config.banner_has_custom_text %}
        {% theme_html "banner_text" class="banner_text custom" onlyIf=theme_config.banner_has_custom_text %}
    </div>
</div>
