{% setTitle "{{ blog.title }}" %}
{% addClasses "content-page" %}
{% addClasses "has-image" onlyIf=blog.has_image %}

{% include "-site-header" %}

<div id="content_wrap">
    <article>
        {% post_image %}
        <div id="blog-post">
            <h1>{{ blog.title }}</h1>
            {% blog_author_profiles %}
            <section id="post" class="description">
                {% page_content %}
            </section>
        </div>

        {% post_comments %}

    </article>
</div>

{% include "-site-footer" %}
