{% setTitle "{{ course.title }} - Preface" %}
{% addClasses "has-sidebar" %}

{% include "-site-header" %}

<div id="content_wrap">
    <nav id="module_nav">{% course_banner %}</nav>

    <div class="wrap">
        <article>
            <div class="description">{% page_content %}</div>
            {% course_social %}
            <h3>Course Structure</h3>
            <div class="course_tree">{% course_tree %}</div>
        </article>
        <aside>
            {% breadcrumbs %}
            {% trainer_profiles %}
        </aside>
    </div>
</div>

{% include "-site-footer" %}