{% setTitle "{{ lesson.title }} - {{ course.title }}" %}
{% addClasses "has-sidebar" %}

{% include "-site-header" %}

<div id="content_wrap">
    <nav id="module_nav">{% course_banner %}</nav>
    <div id="lesson_header" class="page_header">
        <h1>{{ lesson.title }}</h1>
    </div>

    <div class="wrap">
        <article>
            <section id="lesson_contents">
                <div class="description">{% page_content %}</div>
                {% course_social %}
                {% lesson_media %}
            </section>

            {% course_social %}
            {% comments %}
            {% course_social %}

        </article>

        <aside>
            {% breadcrumbs %}
            {% module_lessons_menu %}
            {% modules_menu %}
        </aside>
    </div>
</div>

{% include "-site-footer" %}