{% setTitle "{{ lesson.title }} - {{ course.title }}" %}
{% addClasses "has-sidebar" %}

{% include "-site-header" %}

<div id="content_wrap">
    <nav id="module_nav">{% course_banner %}</nav>
    <div id="lesson_header" class="page_header">
        <h1>{{ lesson.title }}</h1>
    </div>

    <div class="wrap">
        <article>
            <section id="lesson_contents">
                <div class="description">{% page_content %}</div>
                {% lesson_media %}
            </section>

            {% comments %}

        </article>

        <aside>
            {% breadcrumbs %}
            <h2 class="lessons">{{ module.title }}</h2>
            {% module_lessons_menu %}
            <h2 class="modules"></h2>
            {% modules_menu %}
        </aside>
    </div>
</div>

{% include "-site-footer" %}