{% setTitle "{{ module.title }} - {{ course.title }}" %}
{% addClasses "has-sidebar" %}

{% include "-site-header" %}

<div id="content_wrap">
    <nav id="module_nav">{% course_banner %}</nav>
    <div class="page_header">
        <h1>{{ module.title }}</h1>
    </div>

    <div class="wrap">
        <article>
            <a href="{% course_url %}">Back to Course</a>
            <div class="description">{% page_content %}</div>
            <h4>Module Structure</h4>
            <div class="course_tree">{% module_lessons_menu %}</div>
        </article>
        <aside>
            {% breadcrumbs %}
            {% trainer_profiles %}
        </aside>
    </div>
</div>

{% include "-site-footer" %}