{% setTitle "{{ module.title }} - {{ course.title }}" %}
{% addClasses "has-sidebar" %}

<div id="content_wrap">
    <nav id="module_nav">{% course_banner %}</nav>
    <div class="page_header">
        <h1>{{ module.title }}</h1>
    </div>

    <div class="wrap">
        <article>
            <div class="description">{% page_content %}</div>
            {% module_lessons_menu %}
        </article>
        <aside>
            {% breadcrumbs %}
            {% trainer_profiles %}
        </aside>
    </div>
</div>
