<header id="header">
    <h1 class="academy-title">
        <a href="#!" id="academy_title">
            <img class="academy-logo" src="{{ academy.logo_url }}">
            {{ academy.title }}
        </a>
    </h1>
    <h1 class="course-title">{{ course.title }}</h1>
    <h1 class="module-title">{{ module.title }}</h1>
    <h1 class="lesson-title">{{ lesson.title }}</h1>
    <div id="user_links">
        <div id="login_links">
            {% user_profile_menu %}
        </div>
    </div>
</header>
