<header id="header">
    <a class="show-main-menu" aria-label="Menu" tabindex="0"></a>
    <h1 class="academy-title">
        <a href="#!" id="academy_title">
            <img class="academy-logo" src="{{ academy.logo_url }}">
            {{ academy.title }}
        </a>
    </h1>
    <h1 class="bundle-title">{{ bundle.meta.title }}</h1>
    <h1 class="course-title">{{ course.title }}</h1>
    <h1 class="module-title">{{ module.title }}</h1>
    <h1 class="lesson-title">{{ lesson.title }}</h1>
    {% user_profile_menu %}
</header>
