#yc-root {
    background-color: {{ theme_config.background_color }} !important;
    color: {{ theme_config.text_color }} !important;
}

a {
    text-decoration: none !important;
}

#header, #header a, #header .profile, #header .user-menu, header, footer,
.course-sales-page #header #branding {
    background-color: {{ theme_config.header_background_color }} !important;
    color: {{ theme_config.header_text_color }} !important;
}

#header nav.user:after, #header a.show-main-menu {
    background-color: {{ theme_config.header_text_color }} !important;
}

@media screen and (min-width: 1024px) {
    #header .login {
        background-color: {{ theme_config.header_text_color }} !important;
        color: {{ theme_config.header_background_color }} !important;
    }
}

#yc-site-footer a {
    background-color: {{ theme_config.header_background_color }} !important;
    color: {{ theme_config.header_text_color }} !important;
}

article a, article h1, article h2, article h3, article h4, article h5, #yc-dialog a, #yc-dialog h4 {
    color: {{ theme_config.link_text_color }} !important;
}

article a.coupon_code_link {
    color: {{ theme_config.text_color }} !important;
}

.description a {
    border-bottom: 1px dotted {{ theme_config.link_text_color }} !important;
}


article ul, article ol {
    color: {{ theme_config.text_color }} !important;
    border: none !important;
}

article th, #yc-dialog th, input[type=submit] {
    background-color: {{ theme_config.menu_selected_background_color }} !important;
    color: {{ theme_config.menu_selected_text_color }} !important;
}

#comments {
    color: {{ theme_config.text_color }} !important;
}

#comments header, #comments footer, #comments .yc-comment-container {
    background-color: {{ theme_config.background_color }} !important;
    color: {{ theme_config.text_color }} !important;
}

#comments .comment_text {
    background-color: {{ theme_config.background_color }} !important;
}

#yc-comments {
    color: {{ theme_config.text_color }} !important;
}

#yc-comments header, #yc-comments footer, #yc-comments .yc-comment-container {
    background-color: {{ theme_config.background_color }} !important;
    color: {{ theme_config.text_color }} !important;
}

#yc-comments .comment_text {
    background-color: {{ theme_config.background_color }} !important;
}


#module_nav {
    background-color: {{ theme_config.background_color }} !important;
}

#module_nav h1 {
    color: {{ theme_config.text_color }} !important;
}

#lesson_header {
    color: {{ theme_config.link_text_color }} !important;
}

#exams #attempt_exam {
  color: {{ theme_config.menu_selected_text_color }} !important;
  background: {{ theme_config.menu_selected_background_color }} !important;
}

#exams #exam_questions {
    background-color: {{ theme_config.background_color }} !important;
}

#exam_questions header h3 {
    color: {{ theme_config.header_text_color }} !important;
}

#exams #exam_questions .graph {
    background-color: {{ theme_config.header_text_color }} !important;
    border: 1px solid {{ theme_config.header_text_color }} !important;
}

#exams #exam_questions .bar {
    background-color: {{ theme_config.header_background_color }} !important;
}

#exams #exam_questions p.count {
    background-color: {{ theme_config.header_text_color }};
    color: {{ theme_config.header_background_color }} !important;
}

#exam_questions li.selected {
    background-color: {{ theme_config.header_background_color }};
    color: {{ theme_config.header_text_color }} !important;
}

#exam_questions .remaining {
    background-color: {{ theme_config.header_text_color }};
    color: {{ theme_config.header_background_color }} !important;
}

#exam_questions #submit_exam {
    color: {{ theme_config.text_color }} !important;
    background-color: {{ theme_config.background_color }} !important;
}

#exam_questions #submit_exam:disabled {
    opacity: 0.5 !important;
}

aside, .yc-course-tree ul.modules, .sidebar {
    background-color: {{ theme_config.menu_background_color }} !important;
    color: {{ theme_config.menu_text_color }} !important;
}

aside .breadcrumbs a {
    color: {{ theme_config.menu_text_color }} !important;
}

aside ul a, .yc-course-tree ul a, .yc-module-lessons-menu a, .tutor_info a, .tutor_info .username,
aside h1 a, aside h2 a, aside h3 a {
    color: {{ theme_config.menu_text_color }} !important;
}

.yc-course-tree ul a {
    border: none !important;
}

aside ul li, li.yc-menu-entry, .tutor_info {
    background-color: {{ theme_config.menu_item_background_color }} !important;
}

.yc-module-lessons-menu li.yc-menu-entry.selected {
    background-color: {{ theme_config.menu_selected_background_color }} !important;
}

.yc-module-lessons-menu li.yc-menu-entry.selected a {
    color: {{ theme_config.menu_selected_text_color }} !important;
}

aside .module-title::before, aside ul.yc-modules-menu::before {
    background-color: {{ theme_config.menu_selected_background_color }} !important;
}

#sales_banner, #sales_banner h1, #sales_banner p.tag_line, #sales_banner a.yc-coupon-code-link {
    color: {{ theme_config.banner_text_color }} !important;
}

.sales-page #sales_banner {
    background-color: {{ theme_config.banner_background_color }} !important;
}

.sales-page #sales_banner {
    background-image: {{ theme_config.banner_background_image }} !important;
}

#sales_banner .banner_text.custom {
    background-color: {{ theme_config.banner_custom_text_background_color }} !important;
}

.academy-page .banner {
    background-image: {{ theme_config.academy_banner_image }} !important;
    color: {{ theme_config.academy_banner_text_color }}  !important;
    background-color: {{ theme_config.academy_banner_background_color }}  !important;
}

.academy-page .banner h1, .academy-page .banner h2, .academy-page .banner h3, .academy-page .banner h4 {
    color: {{ theme_config.academy_banner_text_color }}  !important;
}

.course-sales-page .yc-rego-button .yc-rego-wrap {
    background-color: {{ theme_config.rego_button_background_color }} !important;
}

form, form ul, form label, form p {
    background-color: {{ theme_config.background_color }} !important;
    color: {{ theme_config.text_color }} !important;
    font-size: 1em !important;
}

input {
    font-size: 1em !important;
    background-color: transparent !important;
    color: {{ theme_config.text_color }} !important;
}

input[type=text], input[type=password] {
    background-color: transparent !important;
    color: {{ theme_config.text_color }} !important;
    border: 1px solid {{ theme_config.text_color }} !important;
}

textarea {
    background-color: #ffffff;
    color: #000000;
}

#yc-dialog {
    background-color: {{ theme_config.background_color }} !important;
    color: {{ theme_config.text_color }} !important;
}

#yc-dialog h1, #yc-dialog h3 {
    background: {{ theme_config.header_background_color }} !important;
    color: {{ theme_config.header_text_color }} !important;
}

#yc-dialog select {
    color: {{ theme_config.text_color }} !important;
    background-color: {{ theme_config.background_color }} !important;
    margin-left: 24px;
}

#tutors h2 {
    text-align: center;
}

.course_list a.course {
    color: {{ theme_config.text_color }} !important;
}

#yc-site-footer .yc-course-certificate-link,
#yc-site-footer .yc-mark-lesson-read {
    color: {{ theme_config.header_background_color }} !important;
    background-color: {{ theme_config.header_text_color }} !important;
}
