@import "compass";
@import "constants";
@import "ycthemelib/responsive";
@import "ycthemelib/svgicons/icons";

body {
  height: auto;
}

#veil {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(120, 120, 120, 0.3);
  z-index: $VEIL_Z_INDEX;
  #veil-content {
    display: none;
    position: fixed;
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 10% auto;
    width: 300px;
    height: 200px;
    padding: 50px 10px 10px;
    border-radius: 8px;
    background: #ffffff image-url('loading.gif') no-repeat center 30px;
    color: #000000;
    z-index: $VEIL_CONTENT_Z_INDEX;
    p {
      text-align: center;
    }
  }
}

#yc-root {
  background-image: none;
}

#yc-root.loading {
  #veil {
    display: block;
    #veil-content {
      display: block;
    }
  }
}

#yc-root {
  //overflow: auto;  // clearfix
}

iframe.dialog {
  z-index: $MODAL_DIALOG_Z_INDEX;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  background: $DEFAULT_BACKGROUND;
  border: 1px solid $DEFAULT_TEXT_COLOUR;
  display: none;
  width: 320px;
  height: 480px;
}

#yc-root.dialog-active {
  #veil {
    display: block;
    z-index: $VEIL_CONTENT_Z_INDEX;
  }
  #yc-dialog {
    display: block;
  }
}

#yc-root {
  // apply a natural box layout model to all elements
  // NOTE: this will affect ALL layout, so remember that all widths/heights are
  // inclusive of border and padding
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.loading article {
  //visibility: hidden;
}

a {
  text-decoration: none;
}

article {
  padding: 10px;
  margin-bottom: 70px;
  @include clearfix;

  h2 {
    border-bottom: 2px solid #b8ac92;
    margin-bottom: 36px;
  }

  a {
    border-bottom: 1px dotted #f1b135;
  }

  img {
    max-width: 100%;
  }

  ul {
    padding: 26px 20px;
    background-color: rgba(0, 0, 0, 0.0157);
    border-radius: 4px;

    li {
      list-style: disc inside;
    }

    ul {
      border: none;

      li {
        list-style: square inside;
      }

      ul {
        li {
          list-style: circle inside;
          padding: 12px 0;
          border-bottom: 1px dashed inherit;
        }
      }
    }
  }

  ol {
    padding: 26px 20px;
    background-color: rgba(0, 0, 0, 0.0157);
    border-radius: 4px;

    li {
      list-style: decimal inside;
    }

    ol {
      border: none;

      li {
        list-style: lower-alpha inside;
      }

      ol {
        li {
          list-style: lower-roman inside;
          padding: 12px 0;
          border-bottom: 1px dashed inherit;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 20px 0;
  }

  th {
    color: black;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    //background-color: #0999d6;
    text-align: left;
  }

  tr {
    //background-color: #e7e7e7;
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1608);
    }
  }

  td, th {
    border-left: 1px solid;
    &:first-child {
      border-left: none;
    }
    vertical-align: top;
    padding: 5px;
  }

  iframe {
    display: block;
    margin: 20px auto;
  }
}

aside {
  display: none; // hide by default, show only if yc-root has class has-sidebar
  background-color: #4C4C54;
  color: #ffffff;
}

// display the sidebar only if the page needs one
.has-sidebar aside {
  display: block;
}

.social {
  margin: 20px 0;
}

#description {
  ol li {
    list-style: decimal outside;
    div {
      padding-top: 0 !important;
      vertical-align: top;
      display: inline-block;
      width: 100%;
    }
  }
  h2 {
    margin-bottom: 0;
  }
}

.description {
  @include clearfix;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  video {
    clear: both;
  }
}

.eula {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
}

.command {
  display: inline-block;
  color: #000000 !important;
  font-size: 14px;
  line-height: 28px;
  text-transform: none;
  padding: 0 10px 0 4px;
  margin: 6px;
  height: auto;
  width: auto;
  border: 1px solid #da920c;
  border-bottom: 1px solid #915107;
  background-color: #f9e59c;
  @include filter-gradient(#f9e59c, #e38f13, vertical);
  @include background-image(linear-gradient(top,  #f9e59c 0%,#f1d351 3%,#efc62c 5%,#e38f13 100%));

  // common styling for command button icons
  // we add the icon before the button text
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 21px;
  }

  &.view:before {
    @include replace-text('cmd_view.png');
  }

}

.hidden {
  visibility: hidden;
}

iframe {
  max-width: 100%;
}

@include respond_to(tablet_landscape) {
  #content_wrap > div.wrap {
    margin-top: $CONTENT_SEPARATION_MARGIN;
    position: relative;
  }

  .has-sidebar article {
    padding-left: $ASIDE_WIDTH+36px;
    max-width: 1024px+$ASIDE_WIDTH;
  }

  aside {
    width: $ASIDE_WIDTH+10px;
    position: fixed;
    top: 36px;
    left: 0;
    bottom: $ACADEMY_FOOTER_HEIGHT;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: $COURSE_HEADER_Z_INDEX+10;
  }

  ul.messages {
    text-align: center;
    background-color: #96B46A !important;
    color: #ffffff;
  }

  #profile_picture {
    float: right;
  }

}

// TODO refactor base to consolidate aside styling
#yc_root aside {
  padding: 10px;
  background-color: #4C4C54;

  a {
    outline: none;
  }

  h2, ul {
      margin: 0;
  }

  @include respond_to(tablet_landscape) {
    padding: 0;
  }
}

// ensure that images within the description area maintain aspect ratio
#yc-root .description, #all_resources {
  img {
    max-width: 100%;
    // need the important as ckeditor will add element level height which will
    //cause wide elements to be stretched to maintain height
    height: auto !important;
  }
}
