@import "constants";
@import "ycthemelib/responsive";
@import "ycthemelib/images/mixins";
@import "ycthemelib/typography/mixins";

html, body {
  height: 100%;
}

#yc-root {
  // apply a natural box layout model to all elements
  // NOTE: this will affect ALL layout, so remember that all widths/heights are
  // inclusive of border and padding
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  background-image: none;
}

// Overall flex layout
#yc-root {
  #yc-wrap {
    height: 100%;
    #theme-data {
      display: none;
    }
    #yc-page {
      display: flex;
      flex-flow: column nowrap;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      #header {
        flex: 0 0 auto;
      }
      #content_wrap {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        overflow-x: hidden;
        overflow-y: auto;
        article {
          flex: 1 1 auto;
          order: 2;
          overflow-x: hidden;
          overflow-y: auto;
        }
        aside {
          flex: 0 0 $ASIDE_WIDTH;
          order: 1;
        }
      }
      #yc-site-footer {
        flex: 0 0 auto;
      }
    }
  }
}

#veil {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(120, 120, 120, 0.3);
  z-index: $VEIL_Z_INDEX;
  #veil-content {
    display: none;
    position: fixed;
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 10% auto;
    width: 300px;
    height: 200px;
    padding: 50px 10px 10px;
    border-radius: 8px;
    background: #ffffff yc-image-url('loading.gif') no-repeat center 30px;
    color: #000000;
    z-index: $VEIL_CONTENT_Z_INDEX;
    p {
      text-align: center;
    }
  }
}

#yc-root.loading {
  #veil {
    display: block;
    #veil-content {
      display: block;
      padding: 70px 10px 10px;
      progress {
        display: block;
        width: 100%;
        margin-bottom: 12px;
      }
    }
  }
}

.show-main-menu, .show-user-menu {
  #header {
    // ensure menus don't get hidden behind other stacking contexts
    position: relative;
    z-index: $SITE_HEADER_Z_INDEX;
  }
  #veil {
    display: block;
    z-index: $SITE_HEADER_Z_INDEX - 1;
    #veil-content {
      display: none;
    }
  }
}

iframe.dialog {
  z-index: $MODAL_DIALOG_Z_INDEX;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  background: $DEFAULT_BACKGROUND;
  border: 1px solid $DEFAULT_TEXT_COLOUR;
  display: none;
  width: 320px;
  height: 480px;
}

#iframe-popup {
  border: 5px solid green;
}

#yc-root {
  // common to dialog and iframe
  &.dialog-active, &.popup-active {
    #veil {
      display: block;
      z-index: $VEIL_Z_INDEX;
    }
    #yc-dialog {
      box-shadow: 8px 12px 16px 5px rgba(30, 30, 30, 0.6);
      max-height: 100%;
      overflow-y: auto;
    }
  }

  &:not(.popup-active) {
    #yc-iframe-popup {
      display: none;
    }
  }

  &.dialog-active {
    #yc-dialog {
      display: block;
    }
  }

  // assume popups override dialogs, as they can be trigger from dialogs
  &.popup-active {
    #yc-dialog {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      height: 70vh;
      @include respond_to(tablet_landscape) {
        width: $MAX_CONTENT_WIDTH;
      }
    }
    #dialog-close {
      top: 7px;
      right: 22px;
    }
    #dialog-inner {
      display: none;
    }
    #yc-iframe-popup {
      flex-grow: 1;
      align-self: stretch;
    }
  }
}

.loading article {
  visibility: hidden;
}

a {
  text-decoration: none;
}

.content {
  padding: 16px;
  max-width: $MAX_CONTENT_WIDTH;

  h2 {
    //border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 36px;
  }

  a {
    border-bottom: 1px dotted #f1b135;
  }

  img {
    max-width: 100%;
  }

  ul {
    padding: 24px 32px;
    background-color: rgba(0, 0, 0, 0.0157);

    li {
      list-style: disc outside;
    }

    ul {
      border: none;

      li {
        list-style: square outside;
      }

      ul {
        li {
          list-style: circle outside;
          padding: 16px 0;
          border-bottom: 1px dashed inherit;
        }
      }
    }
  }

  ol {
    padding: 24px 32px;
    background-color: rgba(0, 0, 0, 0.0157);

    &> li {
      list-style: decimal outside;
    }

    ol {
      border: none;

      &> li {
        list-style: lower-alpha outside;
      }

      ol {
        &> li {
          list-style: lower-roman outside;
          padding: 16px 0;
          border-bottom: 1px dashed inherit;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin: 20px 0;
  }

  th {
    color: black;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
  }

  tr {
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1608);
    }
  }

  td, th {
    border-left: 1px solid;
    &:first-child {
      border-left: none;
    }
    vertical-align: top;
    padding: 5px;
  }

  iframe {
    display: block;
    margin: 20px auto;
  }
}


.social {
  margin: 24px 0;
  .fb-like {
    iframe {
      margin: 0;
    }
  }
}

.description {
  overflow: hidden;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  video {
    clear: both;
  }
}

.profile {
  img.profile-img {
    // constrain within 40px while maintaining aspect ratio
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
  }
  span.char {
    background: rgba(0,0,0,0.4);
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
  }
}

.eula {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
}

.hidden {
  visibility: hidden;
}

iframe {
  max-width: 100%;
  width: 100%;
}

@include respond_to(tablet_landscape) {
  #profile_picture {
    float: right;
  }
}


// ensure that images within the description area maintain aspect ratio
#yc-root .description, #all_resources {
  img {
    max-width: 100%;
    // need the important as ckeditor will add element level height which will
    //cause wide elements to be stretched to maintain height
    height: auto !important;
  }
}

.yc-popup-container {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 50000;
  .yc-popup {
    display: flex;
    flex: 0 0 320px;
    flex-flow: column nowrap;
    background: #fff;
    min-height: 200px;
    header {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      h1 {
        display: flex;
        flex: 1 1 100%;
        margin: 0;
      }
      .yc-popup-action {
        display: flex;

      }
    }
    section {
      display: flex;
      flex: 1 1 100%;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      padding: 12px;
    }
    footer {
      flex: 0 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        padding: 8px 12px;
        text-align: center;
        background: #f9e59c;
        margin: 8px;
        color: #000;
        font-weight: bold;
      }
    }
  }
}

// FIXME temp while migrating to using yc-blocks in ck editor
.yc-ck-block {
  display: none;
}
#yc-root.display-yc-ck-blocks {
  .yc-ck-block {
    display: block;
  }
}
