// the certificate is A4 portriat

$SCALING_FACTOR: 4;
$total_width: 210px * $SCALING_FACTOR;
$total_height: 297px * $SCALING_FACTOR;
$padding: 40px;
$border: 10px;
$page_height: $total_height - 2*$padding;

#certificate{
    background: white;
    padding: $padding;
    color: #000000;
    width: $total_width -  2*$padding;
    height: $page_height;
    margin: 0 auto;

    #certificate_body{
        border-style: solid;
        border-color: black;
        border-width: $border;
        position: relative;
        padding: $padding;
        height: $total_height - 4*$padding - 2*$border;
    }

    h2{
        border: none;
    }

    #cert_footer{
        border-top: 1px solid black;
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100px;
        p {
            margin: 4px;
          font-size: 1em;
        }
    }

    #custom_text{
        margin: 0 auto;
        margin-top: 24px;
        max-height: 340px;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: justify;
    }

    #academy_title{
        margin:8px;
        font-size: 3em;
        line-height: 1.2em;
        overflow: hidden;
    }
    h1{
        font-family: 'UnifrakturCook', cursive;
        font-size: 4em;
        text-align: center;
    }
    h2{
        font-size: 2.5em;
        text-align:center;
    }
    h3{
        font-size: 2em;
        text-align:center;
    }
    text-align: center;
    p{
        text-align: center;
        font-size: 1.5em;
    }

    #signature p{
        text-align: right;
    }
}

.rating_score {
  padding: 12px;
  ul {
    margin: 12px;
  }
  li {
    list-style: none;
  }
}

@media print{
    @page {
        margin: 1.0cm;
    }
    #yc-root{
        body{
          padding: 0;
          margin: 0;
        }

        #content_wrap{
            margin: 0;
            padding: 0;
        }

        #header, aside, footer{
            display: none;
        }
        article{
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
        }
        #certificate{
            width: auto;
            height: auto;
            border: none;
            margin: 0;
            padding: 0;

            #academy_title{
                font-size: 20pt;
            }
            h1{
                font-size: 32pt;
            }
            h2{
                font-size: 18pt;
            }
            h3{
                font-size: 16pt;
            }
            text-align: center;
            p{
                text-align: center;
                font-size: 14pt;
            }

            #cert_footer p{
                font-size: 12pt;
            }
        }
        #certificate_body{
            width: auto;
            height: 21cm !important;
        }
    }
}