@import "ycthemelib/responsive";

@import "constants";

#yc-root.content-page {
  #branding, article {
    max-width: 100%;
    margin: 0 auto;
  }

  article {
      padding: 0;
  }
  .post-image {
    max-height: 600px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  #blog-post {
    padding: 10px;
    max-width: 1600px;
    margin: 0 auto;
    img {
      display: block;
      margin: 24px auto;
    }
  }
  #reply-template {
      display: none;
  }
  label[for="id_html"] {
      display: none;
  }
  #id_html {
      border: 1px solid #bbbbbb;
  }

  .textarea-wrap {
    padding: 0;
  }
  textarea {
    border: 1px solid #b1bad9;
    display: block;
    width: 100%;
  }

  &.has-image {
    #blog-post {
      position: relative;
      top: -110px;
      h1 {
        padding: 24px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        @include respond_to(tablet_landscape) {
          text-align: left;
        }
      }
    }
  }

  .tutor_info, #recent-posts {
    width: 274px;
    margin: 0 auto;
    a, h2 {
      border: none;
      text-decoration: none;
      padding: 0;
      margin: 0;
    }
    @include respond_to(tablet_landscape) {
      float: right;
      margin-left: 24px;
      clear: right;
    }
  }
  #recent-posts {
    ul {
      margin: 0;
      padding: 8px;
    }
  }
}

