$SITE_HEADER_HEIGHT: 36px;
$ACADEMY_FOOTER_HEIGHT: 36px;
$MAX_CONTENT_WIDTH: 1312px;


$COURSE_HEADER_HEIGHT: 48px;

$TOP_UNPUBLISHED_WARNING_HEIGHT: 36px;

$CONTENT_SEPARATION_MARGIN: 24px;

$MAX_CONTENT_WIDTH: 1024px;
$ASIDE_WIDTH: 312px;


// Z Indices
$SITE_HEADER_Z_INDEX: 110;
$ACADEMY_FOOTER_Z_INDEX: 110;
$USER_MENU_DROPDOWN_Z_INDEX: $SITE_HEADER_Z_INDEX + 1000;

$VEIL_Z_INDEX: 2000;
$VEIL_CONTENT_Z_INDEX: $VEIL_Z_INDEX + 1;

$MODAL_DIALOG_Z_INDEX: $VEIL_Z_INDEX + 100;
$MODAL_DIALOG_VEIL_Z_INDEX: $MODAL_DIALOG_Z_INDEX - 1;

$COURSE_HEADER_Z_INDEX: 0;

$EXAM_Z_INDEX: $VEIL_Z_INDEX + 1;

// Colours
$DEFAULT_BACKGROUND: #ffffff;
$DEFAULT_TEXT_COLOUR: #000000;
$DEFAULT_DARK_BACKGROUND: #3C425C;
$DEFAULT_DARK_BG_TEXT_COLOUR: #ffffff;

