@import "ycthemelib/responsive";

@import "constants";

#yc-root.content-page {
  .post-image {
    max-height: 240px;
    @include respond_to(tablet_landscape) {
      max-height: 480px;
    }
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .content {
    margin: 0 auto;
  }
}
