@import "constants";
@import "ycthemelib/responsive";
@import "ycthemelib/svgicons/icons";
@import "ycthemelib/images/mixins";
@import "ycthemelib/typography/mixins";

$USER_FORMS_FIELD_HEIGHT: 40px;
$VERTICAL_MARGIN_BETWEEN_FIELDS: 56px;
$FIELD_MAX_WIDTH: 800px;


// Proposed, Chrome/Opera/Safari, Firefox 19+, IE 10+, Firefox 18-
::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  font-weight: bold;
}

.user_form {
  padding: 0;
  background: transparent;
  .user_field {
    max-width: 100%;
    width: 100%;
    label {
      display: none;
    }
    input {
      display: block;
      width: 100%;
      height: $USER_FORMS_FIELD_HEIGHT;
      vertical-align: top;
      border: rgba(0,0,0,0.2);
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      padding: 0 12px 0 38px;
      border-radius: 0;

      background: no-repeat 4px 50%;
      background-size: 1.5em;
    }

    .wrap {
      position: relative;
      width: auto;
      height: $USER_FORMS_FIELD_HEIGHT;
      vertical-align: top;
      background-color: #FFFF;
      .sublabel {
        color: #aaaaaa;
        font-size: 14px;
        font-weight: bold;
        margin-top: -15px;
        display: block;
      }

      select {
        padding: 4px;
        margin-top: 0;
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    min-height: 160px;
    margin: 12px 0;
  }

  img.profile_img {
    vertical-align: middle;
    margin: 0 12px 0 0;
  }

  ul.reply {
    padding: 0;
  }

  .error {
    border: 2px solid red;
  }
  .errorlist {
    margin: 0;
    padding: 0 12px;
    border-radius: 0;
    li {
      list-style: none;
    }
  }

  .email, .username {
    input {
      background-image: yc-icon-url('fa/envelope');
    }
  }

  .password, .password1, .password2 {
    input {
      background-image: yc-icon-url('fa/lock');
    }
  }

  .first_name, .last_name {
    input {
      background-image: yc-icon-url('fa/user');
    }
  }

  .mobile_number {
    input {
      background-image: yc-icon-url('fa/mobile-phone');
    }
  }

  .tel_number {
    input {
      background-image: yc-icon-url('fa/phone');
    }
  }

  .city, .state, .post_code {
    input {
      background-image: yc-icon-url('fa/map-marker');
      background-size: 1.4em;
    }
  }

  .country {
    //select {
      //background-image: yc-icon-url('fa/globe');
      //left: 0 !important;
    //}
  }

  .timezone {
    //select {
    //  background-image: yc-icon-url('fa/clock-o');
    //  left: 0 !important;
    //}
  }

  // country and timezone field workarounds
  .country,
  .timezone {
    select {
      margin-top: 0;
    }
  }

  .website {
    input {
      background-image: yc-icon-url('fa/internet-explorer');
    }
  }

  // user_form with non user_fields - e.g. password change form (labels shown)
  div:not(.user_field) {
    margin-top: 12px;
    input {
      padding: 0 12px;
    }
  }


  input[type=submit], button {
    border: none;
    height: 32px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 0 24px;
  }
}


ul.form-errors {
  display: none;
}


ul.field-errors {
  display: none;
}

.error {
  ul.form-errors, ul.field-errors.active {
    display: block;
    margin: 10px 0 !important;
    color: red !important;
    font-size: 13px !important;
  }
}

#yc-dialog {
  display: none; // only show if dialog is active
  z-index: $MODAL_DIALOG_Z_INDEX;;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 30px 0;

  h1, h3 {
    font-size: 28px;
    line-height: 64px;
    font-weight: bold;
    padding: 0 27px 0 27px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h4 {
    padding: 0;
    margin: 27px;
  }

  a:not(#dialog-close) {
    border-bottom: 1px dotted;
  }

  p {
    font-size: 0.875em;
    padding: 0 27px;
  }

  &>form, &>p {
    padding: 0 27px;
  }

  .terms {
    // FIXME: should be customisable
    color: #444;
    background-color: #fefacb;
    margin: 24px;
    padding: 16px;
    font-size: 0.8em;
    line-height: 1.5em;
  }

  .form_errors_nonfield {
    margin: 0 32px 16px;
    padding: 0;
    background-color: transparent;
    border: none;
    p {
      padding: 0 12px;
      margin: 0;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    ul {
      padding: 0;
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  li {
    display: block;
  }

  table.user_details {
    margin: 27px;
    width: auto;

    th {
      height: 36px;
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      padding: 4px 4px 4px 36px;

      @include respond_to(mobile_landscape) {
        min-width: 150px;
      }

      &.full_name {
        background: yc-image-url('user_icon.png') no-repeat 10px 50%;
      }

      &.email {
        background: yc-image-url('mail_icon.png') no-repeat 10px 50%;
      }

      &.country {
        background: yc-image-url('country.png') no-repeat 10px 50%;
      }

      &.mobile_number {
        background: yc-image-url('mobile_icon.png') no-repeat 10px 50%;
      }
    }

    td {
      width: 100%;
      padding: 0 8px;
    }

    tr {
      background-color: rgba(0, 0, 0, 0.05);
      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1608);
      }
    }
  }

  @include respond_to(tablet_landscape) {
    width: 608px;
    margin:  0 auto;
  }

  select {
    margin-left: 0 !important;
  }

  .product_buy h4 {
    margin: 24px auto 12px auto;
  }
}

.dialog-active {
  #yc-dialog {
    display: block;
  }
}

// Payment styling
#PPDGFrame .panel iframe {
  background: #ffffff url('https://www.paypal.com/en_US/i/icon/icon_animated_prog_42wx42h.gif') no-repeat center center;
}

button.stripe-checkout { // copied from stripe styling
  overflow: hidden;
  display: inline-block;
  visibility: visible !important;
  background-image: linear-gradient(#28A0E5, #015E94);
  border: 0 none;
  padding: 1px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-user-select: none;
  cursor: pointer;
  span {
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275FF linear-gradient(#7DC5EE, #008CDD 85%, #30A2E4) repeat scroll 0 0;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    border-radius: 4px;

    display: block;
    min-height: 30px;
  }
}

#yc-dialog {
  .product_buy {
    text-align: center;
    h4 {
      text-align: center;
      font-size: 24px;
      line-height: 24px;
    }
    form {
      margin: 12px;
    }
    .coupon-code-link {
      display: inline;
      text-align: center;
    }
  }
}

#dialog-close {
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  @include yc-replace-text-with-dimensions('delete_grey.png');
  &:hover {
    opacity: 0.5;
  }
}

.dialog-no-cancel #dialog-close {
  display: none;
}

.course_page {
  form {
    background-color: transparent;
  }
}

#yc-root {
  form {
    padding: 16px;
    table, tr, th, td, table, ul, p, label {
      border: none;
      font-size: 20px;
      line-height: 20px;
    }
    select {
      font-size: 20px;
      line-height: 20px;
    }
    textarea {
      font-size: 14px;
      line-height: 18px;
      padding: 8px;
      border: 1px solid rgba(0,0,0,0.2);
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none !important;
    }
  }

  .attach-input label {
    display: none;
  }

  label {

  }

  input[type=text], input[type=password], input[type=email], input[type=number],
  input[type=url], input[type=tel] {
    border: 1px solid;
    display: block;
    width: 100%;
    max-width: $FIELD_MAX_WIDTH;
    height: 44px;
    margin-top: 0 !important;
  }

  textarea {
    width: 100%;
    display: block;
  }

  input[type=submit], #upload_button, #email_next {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 36px;
    padding: 0 32px;
    margin-top: 8px;
    margin-right: 24px;
  }

  select {
    display: block;
    width: 100%;
    max-width: $FIELD_MAX_WIDTH;
    border: 1px solid;
    border-radius: 4px;

  }

  input[type="radio"] {
    vertical-align: middle;
  }

  .user_field {
    margin: 0 0 16px 0;

    ul { // radio selects are rendered inside a ul
      padding: 0;
      margin: 0;
      label {
        font-size: 14px;
        line-height: 14px;
        padding-top: 4px;
        font-weight: normal;
        margin: 16px 0 0 0;
        input {
          margin: 0;
        }
      }
    }
    li {
      list-style: none !important;
    }
    &.error { // specific field styles on error
      input[type=text] {
        background-color: #c57574;
      }
    }

    &:not(.required) {
      label:after {
        content: ' (Optional)';
      }
    }

    span.help_text {
      font-size: 12.5px;
      line-height: 12px;
      text-align: left;
    }
  }

  // non user_form fields (no image displayed instead of label)
  form:not(.user_form) {
    .user_field {
      input {
        padding: 0 12px;
      }
    }
  }

  .form_errors_nonfield, .errorlist {
    li {
      display: inline-block;
      color: white;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      height: 28px;
      padding: 8px;
      background: #c70100 linear-gradient(to bottom, #c70100 0%, #860000 100%);
      margin: 0;
    }
  }

  .user_field .errorlist li { // when rendered using the forms template
    // draw the upward pointing triangle in CSS
    position: relative;
    margin-top: 10px;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #c70100;
      // position the triangle above the li
      display: block;
      position: absolute;
      top: -5px;
      left: 8px;
      margin: 0 auto;
    }
  }

  .form_errors_nonfield {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .errorlist {
    border: none;
  }

  textarea.ckloading {
    background: yc-image-url('loading.gif') no-repeat scroll center center transparent;
    color: rgba(0, 0, 0, 0);
  }
}
