@import 'compass';
@import "constants";
@import "ycthemelib/responsive";

$USER_FORMS_FIELD_HEIGHT: 37px;
//$FORM_BACKGROUND_COLOUR: #3c425c;
$FORM_BACKGROUND_COLOUR: #FFF;
$VERTICAL_MARGIN_BETWEEN_FIELDS: 52px;
$FIELD_MAX_WIDTH: 800px;

.user_form {
  padding: 0;
  background: transparent;
  .field {
    $height: 37px;
    height: $USER_FORMS_FIELD_HEIGHT;
    max-width: 100%;
    overflow: hidden;
    display: table;
    width: 100%;
    margin: 0 0 16px 0;
    label {
      display: table-cell;
      width: 36px;
      max-width: 36px;
      height: $USER_FORMS_FIELD_HEIGHT;
      vertical-align: top;
      //background-color: #343e59;
      background-color: rgba(0,0,0,0.5);
    }
    input {
      display: table-cell;
      width: 100%;
      height: $USER_FORMS_FIELD_HEIGHT;
      vertical-align: top;
      // background-color: #5a688b !important;
      // color: white;
      border: rgba(0,0,0,0.2);
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      padding: 0 12px;
      border-radius: 0;
    }

    .wrap {
      display: table-cell;
      width: auto;
      height: $USER_FORMS_FIELD_HEIGHT;
      vertical-align: top;
      //background-color: #5a688b;
      background-color: #FFFF;
      //padding: 9px 12px;
      .sublabel {
        color: #aaaaaa;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    min-height: 160px;
    margin: 12px 0;
  }

  img.profile_img {
    vertical-align: middle;
    margin: 0 12px 0 0;
  }

  ul.reply {
    padding: 0;
  }

  .error {
    border: 2px solid red;
  }
  .errorlist {
    margin: 0;
    padding: 0 12px;
    border-radius: 0;
    li {
      list-style: none;
    }
  }

  .email, .username {
    label {
      @include replace-text('mail_icon.png');
    }
  }

  .password, .password1, .password2 {
    label {
      @include replace-text('password.png');
    }
  }

  .first_name, .last_name {
    label {
      @include replace-text('user_icon.png');
    }
  }

  .mobile {
    label {
      @include replace-text('mobile_icon.png');
    }
  }

  .country {
    label {
      @include replace-text('country.png');
    }
  }

  .timezone {
    label {
      @include replace-text('timezone.png');
    }
  }

  input[type=submit], button {
    border: 2px solid #c27a0b;
    border-top-color: #e5a213;
    border-bottom-color: #a34d04;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 0 20px;
    color: #4a3000;
    background-color: #fac960; // Old browsers
    @include filter-gradient(#fac960, #e79317, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #fac960 0%,#e79317 100%));

  }
}


ul.form-errors {
  display: none;
}


ul.field-errors {
  display: none;
}

.error {
  ul.form-errors, ul.field-errors.active {
    display: block;
  }
}

#yc-dialog {
  display: none; // only show if dialog is active
  z-index: $MODAL_DIALOG_Z_INDEX;;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //background-color: #ffffff;
  padding: 0 0 30px 0;
  overflow: auto;
  h1, h3 {
    //background-color: #616c88; // Old browsers
    background-color: #000;
    @include filter-gradient(#616c88, #3f4c6c, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    //@include background-image(linear-gradient(top,  #616c88 0%,#3f4c6c 100%));
    color: white;
    font-size: 28px;
    line-height: 64px;
    font-weight: bold;
    //height: 64px;
    border-top: 1px solid #6d718a;
    border-bottom: 4px solid #e9e9e9;
    padding: 0 27px 0 27px;
    //margin: 0 0 30px 0;
    width: 610px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h4 {
    padding: 0 0 0 27px;
  }

  &>form, &>p {
    padding: 0 27px;
  }

  .terms {
    color: #444;
    background-color: #fefacb;
    margin: 26px;
    padding: 14px;
    font-size: 0.8em;
    line-height: 1.5em;
  }

  .form_errors_nonfield {
    margin: 0 27px 12px;
    padding: 0;
    background-color: transparent;
    border: none;
    p {
      padding: 0 12px;
      margin: 0;
      background-color: #343e59;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    ul {
      padding: 0;
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  li {
    display: block;
  }

  #enrol_block {
    background-color: #616c88;
    color: #ffffff;
    a {
      margin: 0 0 24px 27px;
      color: #000000;
      background-color: #fac960;
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      padding: 0 8px;
      border-radius: 12px;
    }
  }

  table.user_details {
    margin: 27px;
    width: auto;

    th {
      height: 36px;
      background-color: #343e59;
      color: #ffffff;
      font-size: 14px;
      line-height: 14px;
      padding: 10px 8px 0 36px;

      @include respond_to(mobile_landscape) {
        min-width: 150px;
      }

      &.full_name {
        background: #343e59 image-url('user_icon.png') no-repeat 10px 50%;
      }

      &.email {
        background: #343e59 image-url('mail_icon.png') no-repeat 10px 50%;
      }

      &.country {
        background: #343e59 image-url('country.png') no-repeat 10px 50%;
      }

      &.mobile {
        background: #343e59 image-url('mobile_icon.png') no-repeat 10px 50%;
      }
    }

    td {
      width: 100%;
      color: #333333;
    }
  }

  @include respond_to(tablet_landscape) {
    width: 610px;
    margin:  0 auto;
  }

  select {
    margin-left: 0 !important;
  }
}

.dialog-active {
  #yc-dialog {
    display: block;
  }
}

.enrol {
  .course_buy {
    margin: 0 auto;
    background-color: #616c88;
    padding: 12px;
  }
  .buy_block {
    margin: 12px auto;
    max-width: 400px;
    text-align: center;
  }
}

.registered {
  .email {
    color: lime;
  }
}

.activate {
  article {
    h2, p {
      text-align: center;
    }
    a {
      font-size: 24px;
      color: #ffff00;
    }
  }
}

// Payment styling
#PPDGFrame .panel iframe {
  background: #ffffff url('https://www.paypal.com/en_US/i/icon/icon_animated_prog_42wx42h.gif') no-repeat center center;
}

button.stripe-checkout { // copied from stripe styling
  overflow: hidden;
  display: inline-block;
  visibility: visible !important;
  background-image: linear-gradient(#28A0E5, #015E94);
  border: 0 none;
  padding: 1px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  -moz-user-select: none;
  cursor: pointer;
  span {
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    background: #1275FF linear-gradient(#7DC5EE, #008CDD 85%, #30A2E4) repeat scroll 0 0;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    border-radius: 4px;

    display: block;
    min-height: 30px;
  }
}

#yc-dialog {
  .course_buy {
    text-align: center;
    h4 {
      text-align: center;
      font-size: 24px;
      line-height: 24px;
    }
    form {
      margin: 12px;
    }
    .coupon-code-link {
      display: block;
      text-align: center;
    }
  }
}

#dialog-close {
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  @include replace-text-with-dimensions('delete_grey.png');
  &:hover {
    opacity: 0.5;
  }
}

.course_page {
  form {
    background-color: transparent;
  }
}

#yc-root {
  form {
    background-color: $FORM_BACKGROUND_COLOUR;
    padding: 10px;
    table, tr, th, td, table, ul, p, label {
      background-color: $FORM_BACKGROUND_COLOUR;
      color: #d4d4d6;
      border: none;
      font-size: 20px;
      line-height: 20px;
    }
    select {
      font-size: 20px;
      line-height: 20px;
    }
    textarea {
      font-size: 14px;
      line-height: 18px;
      padding: 8px;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none !important;
    }
  }

  .attach-input label {
    display: none;
  }

  label {
    font-weight: bold;
    display: block;
    background-color: #EEE !important;
  }

  input[type=text], input[type=password], input[type=email], input[type=number], input[type=url] {
    //background-color: #868eb5;
    background-color: #FFF;
    color: white;
    //border-top: 2px solid #22252e;
    //border-left: none;
    //border-right: none;
    //border-bottom: none;
    border: 1px solid #22252e;
    border-radius: 4px;
    display: block;
    width: 100%;
    max-width: $FIELD_MAX_WIDTH;
    height: 44px;
    padding: 0 0 0 14px;
  }

  textarea {
    width: 100%;
    max-width: $FIELD_MAX_WIDTH;
    display: block;
  }

  input[type=submit], #upload_button {
    color: #0f0e0c;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 36px;
    padding: 0 32px;
    margin-top: 8px;
    margin-right: 20px;
    &:not(.new_comment_submit) {
      height: 50px;
      border-radius: 4px;
      background-color: #f4d143; // Old browsers
      @include filter-gradient(#f4d143, #e08210, vertical); // IE6-9
      @include background-image(linear-gradient(top, #f4d143 0%, #e08210 100%));
      border: 1px solid #e9a921;
      border-top-color: #fbf2b9;
    }
  }

  select {
    display: block;
    width: 100%;
    max-width: $FIELD_MAX_WIDTH;
  }

  input[type="radio"] {
    vertical-align: middle;
  }

  .field {
    //margin-bottom: $VERTICAL_MARGIN_BETWEEN_FIELDS;
    input, select, textarea, .cke_chrome {
      margin-top: 12px;
      max-width: 850px;
    }
    ul { // radio selects are rendered inside a ul
      padding: 0;
      margin: 0;
      label {
        font-size: 14px;
        line-height: 14px;
        padding-top: 3px;
        color: white;
        font-weight: normal;
        margin: 12px 0 0 0;
        input {
          margin: 0;
        }
      }
    }
    li {
      list-style: none !important;
    }
    &.error { // specific field styles on error
      input[type=text] {
        background-color: #c57574;
      }
    }

    &:not(.required) {
      label:after {
        content: ' (Optional)';
        color: #888888;
      }
    }

    span.help_text {
      font-size: 12.5px;
      line-height: 12px;
      color: #888888;
      text-align: left;
    }
  }

  .form_errors_nonfield, .errorlist {
    li {
      display: inline-block;
      color: white;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      height: 28px;
      padding: 8px;
      background-color: #c70100; // Old browsers
      margin: 0;
      @include filter-gradient(#c70100, #860000, vertical); // IE6-9
      @include background-image(linear-gradient(top, #c70100 1%, #860000 100%));
    }
  }

  .field .errorlist li { // when rendered using the forms template
    // draw the upward pointing triangle in CSS
    position: relative;
    margin-top: 10px;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #c70100;
      // position the triangle above the li
      display: block;
      position: absolute;
      top: -5px;
      left: 8px;
      margin: 0 auto;
    }
  }

  .form_errors_nonfield {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .errorlist {
    border: none;
  }

  textarea.ckloading {
    background: image-url('loading.gif') no-repeat scroll center center transparent;
    color: rgba(0, 0, 0, 0);
  }
}
