@import "compass/utilities";
@import "ycthemelib/responsive";
@import "constants";

#exams {
    padding: 14px;
    background: rgba(0,0,0,0.1);
    margin: 16px 0;
    @include clearfix;

    h3 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    p.exam_attrs {
        margin: 0;
    }

    .action {
        display: block;
        width: 110px;
        padding: 8px 0 11px 8px;
        font-size: 14px;
        line-height: 1em;
        margin: 12px auto;
        text-decoration: none;
        color: white;
        border-radius: 4px;
        font-weight: bold;
    }

  #exam_pwd_block {
    padding: 8px 0;
  }

  #exam_pwd {
    display: inline-block;
    width: auto;
    height: auto;
    &.error {
      border-color: red;
      &::after {
        content: "Incorrect";
        padding-left: 12px;
      }
    }
  }

  label[for=exam_pwd] {
    display: inline-block;
    padding: 0 12px 0 0;
  }

    .has_passed {
        padding-left: 36px;
    }

    .attempt_now {
        display: block;
        float: none;
        margin: 0 0 12px 0;
        color: white;
        background: #0999D6;
    }

    .has_passed {
      border: 1px solid #7eac01;
      background: #8fc400 image-url('exam_passed_tick.png') no-repeat 10px 4px;
    }

    table {
        border: 2px solid #dddac9;
        border-radius: 4px;
        margin-top: 20px;
        thead {
            background: #eeeeee;
            th {
                border: none;
            }
        }
        tbody {
            background: #f8f8f8;
        }
        td {
            font-size: 12px;
        }
        .graph {
            background: #d7d7d7;
        }
        .fail {
            .bar {
                background: #aa0c0d;
            }
            .result_str {
                color: #ad0a0d;
            }
        }
        .pass {
            .bar {
                background: #79c500;
            }
            .result_str {
                color: #4f8002;
            }
        }
    }

    @include respond_to(tablet_landscape) {
        col.date {
            width: 124px;
        }
        col.result {
            width: 100px;
        }

        .graph {
            display: inline-block;
            width: 248px;
            height: 4px;
            vertical-align: middle;
        }
        .bar {
            height: 4px;
        }
    }

    #exam_questions {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      z-index: $EXAM_Z_INDEX;

      header, footer {
        position: absolute;
        left: 0;
        right: 0;
        height: 36px;
      }

      header {
        top: 0;
        h3 {
          margin: 0 0 0 26px;
        }
      }

      footer {
        bottom: 0;
      }

      #exam_questions_body {
        position: absolute;
        left: 0;
        right: 0;
        top: 36px;
        bottom: 36px;
        overflow-y: scroll;
        ol ul li.selected {
          background-color: black;
          color: #ffffff;
        }
      }
      .question_text {
        // ensure that the question text appears in same line as the number
        display: inline-block;
      }
      .graph {
        margin: 0 16px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        height: 20px;
        position: relative;
        text-align: center;
        .bar {
          height: 100%;
          background-color: #000000;
          min-width: 2px;
        }
        p.count {
          position: absolute;
          display: inline-block;
          top: 2px;
          left: auto;
          right: auto;
          margin: 0 auto;
          height: 14px;
          color: black;
          text-align: center;
          font-size: 11px;
          line-height: 14px;
          padding: 0 4px;
        }
      }
      .remaining {
        font-size: 18px;
        font-weight: bold;
        margin-right: 16px;
        padding: 0 4px;
        background-color: white;
        color: black;
        vertical-align: middle;
      }
    }

    #submit_box, #exam_questions_status {
      display: table-cell;
      vertical-align: middle;
    }

    #submit_box {
      text-align: left;
    }

    #exam_questions_status {
      text-align: right;
    }

    .fitb {
      select, input {
        display: inline-block;
        width: auto;
      }
    }
}

.exam_in_progress {
  #veil {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: $VEIL_Z_INDEX;
  }
  #exams #exam_questions {
    display: block;
  }
}
