@import "compass";
@import "constants";

@mixin show_active_prevnext{
    background-color: #4c526c;
    color: white;
}

@mixin show_inactive_prevnext{
    background-color: #d6d6d6;
    color: black;
}

#yc-root.lesson-page {
  article {
    h2 {
        color: #007c72;
        font-size: 22px;
    }
  }

  .page_header {
    h1 {
      @include respond_to(tablet_landscape) {
        padding-left: $ASIDE_WIDTH + 36px;
      }
    }
  }

  aside {
    h2 {
      color: #fffffd;
      text-align: center;
      font-size: 22px;
      line-height: 26px;
    }

    h2.lessons, h2.modules {
      position: relative;
      padding-top: 40px;
      margin: 0 12px 20px 12px;

      &::before {
        content: '';
        position: relative;
        top: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        z-index: -1;
        width: image-width('lesson.png');
        height: image-height('lesson.png');
        background-color: #0999d6;
        border-radius: 50%;
      }
      a {
        color: $DEFAULT_BACKGROUND;
      }
    }

    h2.lessons {
      background: image-url('lesson.png') no-repeat 50% 30px;
    }
    h2.modules {
      background: image-url('modules_icon.png') no-repeat 50% 30px;
    }
  }

  form {
    background-color: transparent;
  }

  .lesson_nav{
    li{
      display:inline-block;
      height: 32px;
      width: 100px;
      border-radius: 4px;
      text-align: center;
      line-height: 32px;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }
    ul{
      padding:0;
    }
  }

  .prev_link a{
    @include show_active_prevnext;
  }

  .no_prev_link{
    @include show_inactive_prevnext;
  }

  .next_link a{
    @include show_active_prevnext;
  }

  .no_next_link{
    @include show_inactive_prevnext;
  }

  .all_link a{
    @include show_active_prevnext;
  }
}
