@import "ycthemelib/responsive";
@import "ycthemelib/images/mixins";
@import "constants";
@import "blocks/shared";

#exams {
  .yc-exam-block, .yc-exam-attempts {
    padding: 32px;
  }

    @include panel_bg_shadow();
    margin: 32px 0;
    overflow: hidden;

    h3 {
        font-size: 24px;
        margin-bottom: 16px;
        margin-top: 10px;
        margin-left: 0;
    }

    p.exam_attrs {
        margin: 0;
    }

    .action {
        display: inline-block;
        padding: 16px;
        font-size: 14px;
        line-height: 1em;
        text-decoration: none;
        color: white;
        font-weight: bold;
      margin: 16px 0 0 0;
      &:hover {
        opacity: 0.6;
      }
    }

  #exam_pwd_block {
    padding: 8px 0;
  }

  #exam_pwd {
    display: inline-block;
    width: auto;
    height: auto;
    &.error {
      border-color: red;
      &::after {
        content: "Incorrect";
        padding-left: 16px;
      }
    }
  }

  label[for=exam_pwd] {
    display: inline-block;
    padding: 0 16px 0 0;
  }

    .has_passed {
        padding-left: 32px;
    }

    .attempt_now {
        color: white;
        background: #0999D6;
    }

    .has_passed {
      border: 1px solid #7eac01;
      background: #8fc400 yc-image-url('exam_passed_tick.png') no-repeat 10px 4px;
    }

    table {
        border: 2px solid #dddac9;
        border-radius: 4px;
        margin-top: 20px;
        thead {
            background: #eeeeee;
            th {
                border: none;
            }
        }
        tbody {
            background: #f8f8f8;
        }
        td {
            font-size: 12px;
        }
        .graph {
            background: #d7d7d7;
        }
        .fail {
            .bar {
                background: #aa0c0d;
            }
            .result_str {
                color: #ad0a0d;
            }
        }
        .pass {
            .bar {
                background: #79c500;
            }
            .result_str {
                color: #4f8002;
            }
        }
    }

    @include respond_to(tablet_landscape) {
        col.date {
            width: 124px;
        }
        col.result {
            width: 100px;
        }

        .graph {
            display: inline-block;
            width: 248px;
            height: 4px;
            vertical-align: middle;
        }
        .bar {
            height: 4px;
        }
    }

    #exam_questions {
      background: $DEFAULT_BACKGROUND;
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      z-index: $EXAM_Z_INDEX;

      header, footer {
        position: absolute;
        left: 0;
        right: 0;
        height: 36px;
        background-color: $DEFAULT_TEXT_COLOUR;
        color: $DEFAULT_BACKGROUND;
      }

      header {
        top: 0;
        h3 {
          margin: 0 0 0 26px;
        }
      }

      footer {
        bottom: 0;
        display: table;
        width: 100%;
        padding: 2px 4px;
      }

      #exam_questions_body {
        position: absolute;
        left: 0;
        right: 0;
        top: 36px;
        bottom: 36px;
        overflow-y: scroll;
        ol ul li.selected {
          background-color: black;
          color: #ffffff;
        }
      }
      .question_text {
        // ensure that the question text appears in same line as the number
        display: inline-block;
      }
      .graph {
        margin: 0 16px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        height: 20px;
        position: relative;
        text-align: center;
        .bar {
          height: 100%;
          background-color: #000000;
          min-width: 2px;
        }
        p.count {
          background-color: $DEFAULT_BACKGROUND;
          position: absolute;
          display: inline-block;
          top: 2px;
          left: auto;
          right: auto;
          margin: 0 auto;
          height: 14px;
          color: black;
          text-align: center;
          font-size: 11px;
          line-height: 14px;
          padding: 0 4px;
        }
      }
      .remaining {
        font-size: 18px;
        font-weight: bold;
        margin-right: 16px;
        padding: 0 4px;
        background-color: white;
        color: black;
        vertical-align: middle;
      }
    }

    #submit_box, #exam_questions_status {
      display: table-cell;
      vertical-align: middle;
    }

    #submit_box {
      text-align: left;
    }

    #exam_questions_status {
      text-align: right;
      &> div {
        display: inline-block;
      }
      .hhmmss.warn {
        color: red;
      }
    }

    .fitb {
      select, input {
        display: inline-block;
        width: auto;
      }
    }
}

.exam_in_progress {
  #veil {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: $VEIL_Z_INDEX;
  }
  #exams #exam_questions {
    display: block;
  }
}

#exam_answers {
  display: none;
  color: black;
  background: #eee;
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  bottom:0;
  overflow-y: scroll;
  max-width: 1024px;
  margin: 0 auto;
  padding: 24px;
  z-index: 10000;
  .letter {
    margin-right: 24px;
  }
  header {
      background: rgba(0,0,0,0.3) !important;  // FIXME: move to theme
  }
  footer {
    position: static;
  }
  .message {
    background: rgba(0,0,0,0.1) yc-image-url('hint_icon.png') no-repeat 2px 50%;
    padding: 4px 0 4px 26px;
    font-weight: bold;
  }
  .question table {
    max-width: 320px;
  }
  video {
    max-width: 100%;
    max-height: 600px;
  }
}

.showing_answers #exam_answers, #exam_answers.loaded {
  display: block;
}

.lesson_completed {
  color: green;
  font-size: 12px;
  margin-left: 12px;
  display: inline-block;
  padding-left: yc-image-width('lesson_green_icon.png') +4px;
  background: yc-image-url('lesson_green_icon.png') left 50% no-repeat;
}

.question {
  margin: 8px 0;
  padding: 4px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 4px;

  ul {
    background-color: transparent;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 0 0 0 16px;
  }
  .msg {
    display: none;
    padding: 0 0 0 24px;
    font-size: 12px;
  }
  input[type=radio] {
    margin: 0 12px 0 0;
  }
  input[type=text] {
    display: inline-block;
  }
  table {
    width: 100%;
  }
}

.question_text {
  font-size: 1.2em;
  p:nth-child(1) {
    padding: 0;
    margin: 0;
  }
}

.quiz.checked .question {
  ul {
    li {
      input, .choice {
        display: inline-block;
      }
    }
  }

  input {
    width: 24px;
    padding: 0;
    margin: 0;
  }
  .correct {
    background-color: #688241;
    color: white;
    .msg {
      color: #b9d193;
    }
  }
  .wrong {
    background-color: #edbab9;
  }
  .correct, .wrong {
    .msg {
      display: block;
    }
  }
}

.quiz {
  &.invalid, &.checked {
    button {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
