@import "constants";
@import "ycthemelib/images/mixins";
@import "ycthemelib/responsive";

@mixin show_active_prevnext{
    background-color: #4c526c;
    color: white;
}

@mixin show_inactive_prevnext{
    background-color: #d6d6d6;
    color: black;
}

#yc-root.lesson-page {
  article {
    h2 {
        color: #007c72;
        font-size: 22px;
    }
  }

  .page_header {
    h1 {
      @include respond_to(tablet_landscape) {
        padding-left: $ASIDE_WIDTH + 36px;
      }
    }
  }

  aside {
    h2 {
      color: #fffffd;
      text-align: center;
      font-size: 22px;
      line-height: 26px;
    }

    h2.module-title {
      position: relative;
      margin: 0 12px 20px 12px;
      visibility: hidden;
      height: yc-image-height('lesson.png');

      a {
        color: $DEFAULT_BACKGROUND;
      }
    }

    h2.module-title, ul.yc-modules-menu {
      &::before {
        content: '';
        position: relative;
        margin: 24px auto;
        display: block;
        visibility: visible;
        border-radius: 50%;
      }
    }

    h2.module-title::before {
      width: yc-image-width('lesson.png');
      height: yc-image-height('lesson.png');
      background: yc-image-url('lesson.png') no-repeat 50% #0999d6;
    }

    ul.yc-modules-menu::before {
      width: yc-image-width('modules_icon.png');
      height: yc-image-height('modules_icon.png');
      background: yc-image-url('modules_icon.png') no-repeat 50% #0999d6;
    }
  }

  &#yc-root.is-modular {
    aside {
      h2.module-title {
        visibility: visible;
        height: auto;
      }
    }
  }

  form {
    background-color: transparent;
  }

  .lesson_nav{
    li{
      display:inline-block;
      height: 32px;
      width: 100px;
      border-radius: 4px;
      text-align: center;
      line-height: 32px;
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }
    }
    ul{
      padding:0;
    }
  }

  .prev_link a{
    @include show_active_prevnext;
  }

  .no_prev_link{
    @include show_inactive_prevnext;
  }

  .next_link a{
    @include show_active_prevnext;
  }

  .no_next_link{
    @include show_inactive_prevnext;
  }

  .all_link a{
    @include show_active_prevnext;
  }
}
