@import "constants";
@import "ycthemelib/responsive";

.profile-page {

  #content_wrap {
    .content {
      max-width: 100%;
    }

    .profile_about, .products {
      max-width: $MAX_CONTENT_WIDTH;
      padding: 8px;
    }
  }

  #profile_picture {
    &>a:first-child  { // contains the image
      display: block;
      text-align: center;
      // the anchor points to this page, make it un-clickable
      pointer-events: none;
      cursor: default;
    }
    float: none;

    a {
      border: none;
    }

    a#upload_pic {
      display: block;
      text-align: center;
      position: relative;
      @include respond_to(tablet_landscape) {
        top: -24px; // move into the img margin
      }
    }

    img, span.profile-icon {
      margin: 0 auto;
      @include respond_to(tablet_landscape) {
        margin: 24px;
      }
      border: 8px solid #EAEAEA;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    span.char {
      background: rgba(0,0,0,0.4);
      display: block;
      width: 216px;
      height: 216px;
      text-align: center;
      line-height: 178px;
      font-size: 140px;
    }

    @include respond_to(tablet_landscape) {
      float: left;
    }
  }

  #profile-banner {
    color: white;
    background: #fff linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    padding: 8px;
    text-align: center;
    max-width: 100%;

    h1 {
      margin: 8px;
      @include respond_to(tablet_landscape) {
        margin: 24px 0;
      }
      padding: 0;
      display: inline-block;
      p {
        padding: 0;
        margin: 0;
      }
    }
    .profile_value {
      margin: 4px 0;
      img {
        margin: 0 8px 0 0;
      }
    }
    @include respond_to(tablet_landscape) {
      text-align: inherit;
    }

    a.command {
      display: inline-block;
      background-color: #1563a5;
      color: #000000;
      border-radius: 4px;
      padding: 4px;
      width: 140px;
      margin: 0 auto;
      text-align: center;
    }
  }

  article {
    padding: 0;
  }

  .profile_about {
    max-width: $MAX_CONTENT_WIDTH;
    margin: 0 auto;
    padding: 10px;
  }
}