@import "ycthemelib/responsive";
@import "ycthemelib/images/mixins";
@import "constants";

#yc-root.sales-page {
  height: auto; // no scrolling regions
  #yc-wrap {  // ensure specificity overrides styles from base
    height: auto;  // no scrolling regions
    #yc-page {
      height: auto; // no scrolling sections within on sales page
      #header {
        .show-main-menu {
          display: none;
        }
      }
      #sales_banner {}
      .main-content {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto;
        width: $MAX_CONTENT_WIDTH;
        max-width: 100%;
        .content {
          flex: 1 1 auto;
          max-width: 100%;
        }
        .sidebar {
          flex: 0 0 240px;
          display: none;
        }
        .product_list li {
          list-style: none;
          a {
            border-bottom: none !important;
          }
        }
      }
      &.show_sidebar {
        .main-content {
          .sidebar {
            @include respond_to(tablet_landscape) {
              display: block;
            }
          }
        }
      }
    }
  }

  &.guest {
    #user_links, nav.user {
      display: none; // don't show the user login links to unauthenticated user
    }
  }

  // show hide elements as per the theme config
  #yc-page {
    &:not(.show_page_header) #header {
      display: none;
    }

    &:not(.show_pre_banner_text) {
      #prebanner {
        display: none;
      }
    }

    &:not(.show_banner) {
      #sales_banner {
        display: none;
      }
    }
    &:not(.registration_button_at_bottom) {
      #rego-btn-bottom {
        display: none;
      }
    }
    &.banner_has_custom_text {
      .banner_text.std {
        display: none;
      }
    }
    &:not(.banner_has_custom_text) {
      .banner_text.custom {
        display: none;
      }
    }
    &:not(.registration_button_in_banner) {
      #rego-btn-banner {
        display: none;
      }
    }
    &:not(.banner_show_visual) {
      .product_visual {
        display: none;
      }
    }
  }


  #prebanner {
    padding: 16px 0;
    @include respond_to(tablet_landscape) {
      width: $MAX_CONTENT_WIDTH;
      margin: 0 auto;
    }
  }

  #sales_banner {
    display: block;
    margin: 0;
    background: no-repeat 50% 0;
    overflow: hidden;

    @include respond_to(tablet_landscape) {
      padding: 80px 0 (80px - 24px) 0;
    }

    &> .wrap {
      @include respond_to(tablet_landscape) {
        width: $MAX_CONTENT_WIDTH;
        margin: 0 auto;
      }
    }

    .product_visual {
      max-width: 854px;
      margin: 0 auto 24px;
      .media_container, .video_container {
        display: block;
        width: 854px;
        height: auto;
        max-width: 100%;
        max-height: 480px;
        margin: 0 auto;
      }

      // make the videos responsive by maintaining a ratio of 16:9
      .video_container {
        position: relative; // allow the iframe to be positioned absolute within
        padding-bottom: 56.25% !important;  // 9/16*100
        height: 0 !important;  // effective height determined by padding
        iframe { // fill up the parent
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .banner_text {
      max-width: 854px;
      margin: 0 auto;

      &.custom { // custom text added by user
        padding: 14px;
      }

      .product_buy {
        margin: 0 auto;
      }

      .social {
        max-width: 240px;
        margin: 14px auto;
      }

      .course_headline, .product_headline { // TODO remove .course_headline
        margin: 0 auto;
        clear:none;

        h1 {
          display: block;
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
          line-height: 30px;
          padding: 0;
          margin: 0 0 12px 0;
        }
        .tag_line {
          text-align: center;
          font-size: 16px;
          line-height: 16px;
          margin: 0 0 30px 0;
          padding: 0;
        }
      }
    }
  }

  // -----------------------
  // Handle banner options
  #yc-page {
    &[data-banner_background_scaling='cover'] #sales_banner {
      background-size: cover;
    }

    &[data-banner_background_scaling='contain'] #sales_banner {
      background-size: contain;
    }

    &[data-banner_text_position='left'] #sales_banner {
      @include respond_to(tablet_landscape) {
        .product_visual {
          float: right;
          width: 480px;
        }
        .banner_text {
          margin: 0;
          width: 1024px - 480px - 12px;
        }
      }
    }

    &[data-banner_text_position='right'] #sales_banner {
      .banner_text {
        @include respond_to(tablet_landscape) {
          margin: 0 0 0 538px;
        }
      }
      .product_visual {
        @include respond_to(tablet_landscape) {
          float: left;
          clear: none;
          width: 480px;
          height: 270px;
        }
      }
    }
  }


  // ------- Widgets ----------------

  .fb-like {
    margin-top: 10px;
  }
}

// ensure that the sales page is seen through the register iframe
#yc-root.register {
  background: transparent !important;
}
