@import "constants";
@import "ycthemelib/responsive";
@import "ycthemelib/images/mixins";

#yc-site-footer {
  display: flex;
  flex-flow: row wrap;
  padding: 2px 4px;

  .promote-course {
    display: block;
    width: 260px;
    margin: 0 auto;
    text-align: center;
    color: green;
    font-weight: bold;
  }

  .legals {
    // FIXME need better solution for mobile
    // hide on mobile
    display: none;
    @include respond_to(tablet_landscape) {
      display: block;
    }
    //-------------

    text-align: center;
    padding-bottom: 4px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    a {
      opacity: 0.5;
      font-size: 0.8em;
    }
  }

  a.as-admin {
    display: none; // hide on mobile, still available via user menu
  }

  a.as-admin {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #000000;
    padding: 8px;
    border: 1px solid #3b3b3b;
    text-align: center;
    background: #f9e59c linear-gradient(to bottom, #f9e59c 0%, #f1d351 3%,
                                        #efc62c 5%, #e38f13 100%);
  }

  #course_settings_link, .yc-mark-lesson-read, .command {}

  .command {
    // adjust command boxes to fit footer
    padding-top: 6px;
    padding-bottom: 3px;
    margin: 0 0 0 6px;
  }

  .powered {
    // FIXME need better solution for mobile
    // hide on mobile
    display: none;
    @include respond_to(tablet_landscape) {
      display: block;
    }
    //-------------
    padding: 0 0 0 24px;
    background: yc-image-url('logo20.png') no-repeat left center;
    font-weight: bold;
    margin: 0 auto;
    width: 210px;
    text-decoration: underline;
  }

  @include respond_to(tablet_landscape) {
    min-height: $ACADEMY_FOOTER_HEIGHT;
    margin: 0;

    a.as-admin {
      display: block;
    }


    #yc_footer {
      text-align: right;
      font-size: 12px;
      .legals {
        display: inline-block;
        ul, li {
          display: inline-block;
        }
        a {
          text-decoration: underline !important;
          margin-right: 3px;
        }
      }
      .powered {
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 160px;
      }
    }
  }
}

// hide as admin button when inside frame
.in-frame #yc-site-footer {
  a.as-admin {
    display: none;
  }
}

// hide footer when in iframe
.in-frame #yc-site-footer {
  display: none;
}
