@import "ycthemelib/normalize";
@import "ycthemelib/media";
@import "ycthemelib/tabs";

@import "base";
@import "typography";

@import "blocks/breadcrumbs";
@import "blocks/comments";
@import "blocks/product_list";
@import "blocks/course_tree";
@import "blocks/media";
@import "blocks/module_lessons_menu";
@import "blocks/modules_menu";
@import "blocks/slideshow";
@import "blocks/social";
@import "blocks/trainer_profiles";

@import "forms";

@import "site_header";
@import "site_footer";

@import "sidebar";

@import "home_page";

@import "bundle_page";

@import "course_header";
@import "course_page";

@import "module_page";

@import "lesson_page";
@import "lesson_exam";

@import "lesson_completion";

@import "ycthemelib/rego_btn";
@import "sales_page";
@import "widgets";

@import "content_page";

@import "certificate";

@import "affiliate_program";

@import "legal_page";

#yc-root.loaded #yc-wrap {display: block;}
