@import "constants";
@import "ycthemelib/svgicons/icons";

#yc-file-dialog {
  display: none; // only show if dialog-active class in body
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // center horizontally and vertically

  z-index: $MODAL_DIALOG_Z_INDEX;
  min-width: 400px;
  max-width: 95%;
  max-height: 90%;
  overflow-y: auto;
  flex-direction: column;
  box-shadow: 8px 12px 16px 5px rgba(30,30,30,0.6);
  color: black;
  background: white;
  h1 {
    font-size: 28px !important;;
    padding: 8px 16px;
    color: white;
    background-color: #161b10;
  }
  ul {
    list-style: none;
    margin: 16px 40px;
  }
  input[type=radio] {
    margin-right: 8px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 0;
    background-color: transparent !important;
    color: inherit;
    a {
      color: #333;
      text-align: center;
      min-width: 100px;
      padding: 8px;
      box-shadow: 1px 2px 4px 2px rgba(170,170,170,0.4);
      &:hover {
        opacity: 0.6;
      }
    }
  }
  a.next {
    background: #96b46a;
    color: white;
    font-weight: bold;
  }
  a.cancel, a.reset {
    font-size: 12px;
  }
  a.add {
    margin-left: 40px;
  }
  #computer-files {
    display: flex;
    flex-flow: column nowrap;
    margin: 8px 40px;
    input {
      margin-top: 8px;
    }
  }

  .upload-status {
    display: none; // only show if uploading

    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;

    padding: 8px 24px;

    progress {
      width: 100%;
    }
  }

  &.uploading {
    .upload-status {
      display: flex;
    }
    a.next {
      pointer-events: none;
      opacity: 0.5;
    }
    a.add {
      display: none;
    }
  }

  #ext-resource-selected {
    display: none;
    flex-direction: column;
    margin: 48px;
  }

  &.ext-resource-selected #ext-resource-selected {
    display: flex;
  }

  #ext-resource-button {
    margin: 24px;
    text-align: center;
  }

  #ext-resource-files, #upload-files-container {
    display: flex;
    flex-direction: column;
  }

  .upload-file {
    padding: 8px;
    display: flex;
    border-bottom: 1px solid #ddd;
    span {
      font-size: 12px;
      color: #222;
    }
  }
  .upload-file {
    flex-flow: row nowrap;
    .image {
      padding: 0 8px 0 0;
      width: 96px;
      img {
        max-width: 100%;
      }
    }
    .upload-status {
      padding: 0;
      .status-progress {
        width: 200px;
      }
    }
  }

  a.gdrive-picker-btn {
    background: yc-icon-url('fa/google', #333) no-repeat 8px 50%;
    background-size: 1.2em;
    padding: 8px 8px 8px 2.4em;
    color: #333;
    border: 1px solid #888;

    &:hover {
      opacity: 0.6;
    }
  }
}

.file-dialog-active #yc-file-dialog {
  display: flex;
}

.picker-dialog-bg {
    z-index: $MODAL_DIALOG_Z_INDEX + 1 !important;
}

.picker-dialog {
    z-index: $MODAL_DIALOG_Z_INDEX + 2 !important;
}

/* Cropper js */
/* Limit image width to avoid overflow the container */
img#tranform_image {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#image-transform-content {
  min-height: 300px;
  display: flex;
  flex-flow: row nowrap;
  footer {
    flex-flow: column nowrap;
    justify-content: space-around;
  }
}

#tranform-preview-container {
  overflow: hidden; /* This rule is very important, please do not ignore this! */
  width: 200px;
  border: 1px solid #000;
  box-shadow: 1px 2px 4px 2px rgba(170,170,170,0.2);
}
