@import "ycthemelib/images/mixins";

$DOWNLOAD_VEIL_Z_INDEX: 2;
$VIDEO_POSTER_Z_INDEX: 5;

// responsive layout for embedded videos
.video_container, .yc-video-container {
  max-width: 854px;
  margin: 16px auto;
  .wrap {
    position: relative;
    padding: 0 0 56.21% 0; /* 16:9 */
    height: 0;
    margin: 0 auto;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 !important;
    }
  }
}

.media_block, .yc-media-block {
  padding: 24px;
  margin: 24px 0;
  overflow: hidden;

  &.video {
    .duration {
      margin: 8px 0;
    }
  }

  &.pdf {
    .wrap {
      position: relative;
      height: 0;
      margin: 0 auto;
      object {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.transcript {
  height: 304px;
  overflow-y: scroll;
  padding: 16px;
  margin: 16px 0;
  user-select: none;
}

iframe {
  max-width: 100%;
}

audio {
  width: 100%;
}

//noinspection CssInvalidPseudoSelector
audio::-webkit-media-controls-enclosure {
  max-width: 100%; // webkit has this set to 800px for some reason
}

video {
  margin: 0 auto;
  width: 854px;
  display: block;
  max-width: 100%;
  height: auto !important;
  background-color: #000000;
}

.cont {
  position: relative;
  padding-top: 25px;
  height: 0;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_link {
  display: block;
  margin: 12px auto 0;
  padding: 8px;
  background-color: #0999D6;
  color: white;
  font-weight: bold;
  text-align: center;
}

a.media_download {
  display: block;
  margin: 12px auto 0;
  width: 130px;
  padding: 6px 8px 6px yc-image-width('download_button.png')+8px;
  background: #0999D6 yc-image-url('download_button.png') no-repeat 0 center;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
}

p.poster{
    position:absolute;
    top:40%;
    left:40%;
    @include yc-replace-text-with-dimensions('video_play_button.png');
    z-index:$VIDEO_POSTER_Z_INDEX;
    text-align:center;
}

.slideshow {
  //background: #f0f0f0 !important;
  border: none !important;
}

.description .media {
  visibility: hidden;
}

.generic_container {
  //width: 196px;
  margin: 0 auto;
  position: relative;
  padding: 0;

  .generic_link {
    display: block;
    height: 100%;
    padding-top: 82px;
    border: none !important;
    color: black;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background: yc-image-url('file_icon.png') no-repeat 50% 20px;

    .download_veil {
      display: none;
      &:after {
        content: 'DOWNLOAD';
      }
      text-align: center;
      color: white;
    }
    &.xls, &.xlsx, &.csv {
      background-image: yc-image-url('excel.png');
    }
    &.pdf {
      background-image: yc-image-url('pdf_icon.png');
    }
    &.doc, &.docx {
      background-image: yc-image-url('ms_docx.png');
    }
    &.ppt, &.pptx {
      background-image: yc-image-url('ppt.jpg');
    }


    &:hover {
      .download_veil {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        background: rgba(30, 30, 30, 0.4) yc-image-url('download_button.png') no-repeat 50% 50%;
        z-index: $DOWNLOAD_VEIL_Z_INDEX;
      }
    }
  }
}


#resources {
  // display files centered
  text-align: center;
  & > div {
    //display: inline-block;
  }

  .generic_container {
    margin-right: 18px;
    display: inline-block;
  }
}



.quiz {
  ol {
    background-color: transparent;
    padding: 0;
    & > li {
      list-style-position: outside;
      padding: 16px 20px;
    }
  }
}

.yc-countdown {
  display: none; // hide by default, show when the root element has-countdown
  margin: 16px 0;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //margin: 4px;
    font-size: 40px;
    padding: 16px 16px 8px 16px;
    text-align: center;
    background-color: rgba(0,0,0, 0.2);
    border-right: 1px solid rgba(255,255,255,0.1);
    &:last-of-type {
      border-right: none;
    }
    &:after {
      font-size: 12px;
      margin-top: 12px;
    }
    &.days {
      &:after {
        content: 'days';
      }
    }
    &.hours {
      &:after {
        content: 'hours';
      }
    }
    &.minutes {
      &:after {
        content: 'minutes';
      }
    }
    &.seconds {
      &:after {
        content: 'seconds';
      }
    }
  }
}

.has-countdown .yc-countdown {
  display: flex;
}
