@import "responsive";


// Show the registration button centered
.yc-rego-button {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  text-align: center;

  .yc-rego-wrap {
    //width: 260px;
    padding: 24px;
    text-align: center;
    background-color: rgba(0,0,0,0.52);
    border-radius: 4px;

    .yc-enrol-button {
      margin: 0 auto;
      // need important as this needs to override the
      // local custom style
      border: none !important;
    }

    &.yc-custom-image {
      width: auto;
      max-width: 100%;
      overflow: hidden;
      display: inline-block;
      padding: 14px;
      img {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }

    &.yc-no-price {
      //padding: 0;
      border: none;
      background-color: transparent;
    }

    &.yc-free-course, &.yc-free-product {  //TODO - remove yc-free-course
      width: auto;
      background-color: transparent;
    }
  }

  .yc-base-price {
    display: block;
    text-decoration: line-through;
  }
}

.yc-custom-image {
  .yc-buy-now-button {
    display: block;
    background: none;
    width: auto;
    height: auto;
    text-indent: 0;
  }
}

